[Unit]
Description=Update Linux Package Cache
After=network.target

[Service]
User=root
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
WorkingDirectory=/root/credfeto-linux-package-cache
ExecStart=/bin/flock -n /tmp/devpkg.lock -c /root/credfeto-linux-package-cache/update
