services:
  cache-watchtower:
    image: nickfedor/watchtower:latest
    container_name: cache-watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: linux-cache
      WATCHTOWER_POLL_INTERVAL: 3600
    networks:
      - cache

  cache-dozzle:
    image: amir20/dozzle:latest
    container_name: cache-dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080/tcp"
    environment:
      DOZZLE_HOSTNAME: linux-cache
    restart: always
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - cache

  cache-restarter:
    image: docker-registry.markridgwell.com/credfeto/cache-restarter:latest
    container_name: cache-restarter
    hostname: cache-restarter
    restart: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    network_mode: none
    environment:
      - RESTARTER_TAG=linuxpkg
    cap_drop:
      - ALL
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  cache-aur:
    image: ${AUR_IMAGE:-credfeto/aur-proxy:stable}
    container_name: cache-aur
    hostname: cache-aur
    restart: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    volumes:
      - cache-aur-metadata:/data/metadata:rw
      - cache-aur-repos:/data/repos:rw
      - ./certs/aur.local.pfx:/usr/src/app/server.pfx:r
    ports:
      - "7776:8081/tcp"
      - "7776:8081/udp"
    labels:
      - "autoheal=linuxpkg"
    networks:
      - cache

  cache-proxy:
    image: docker-registry.markridgwell.com/credfeto/cache-proxy:latest
    container_name: cache-proxy
    hostname: cache-proxy
    restart: always
    stop_grace_period: 500s
    stop_signal: SIGINT
    volumes:
      - cache-proxy:/data
      - ./proxy-appsettings.json:/usr/src/app/appsettings-local.json
      - ./certs/proxy.local.pfx:/usr/src/app/server.pfx:r
    ports:
      - "7777:8081/tcp"
      - "7777:8081/udp"
    labels:
      - "autoheal=linuxpkg"
#    depends_on:
#      cache-pacman:
#        condition: service_healthy
    networks:
      - cache

#   if a specific user id is provided, you have to make sure
#   the mounted directories have the same user id owner on host
#   user: 1000:1000
#   or replace it for self-building with:
#    build: https://github.com/anatol/pacoloco.git
networks:
  cache:
    driver: bridge
    enable_ipv6: true



volumes:
  cache-aur-metadata:
    name: cache-aur-metadata
    external: true
  cache-aur-repos:
    name: cache-aur-repos
    external: true
  cache-proxy:
    name: cache-proxy
    external: true
  cache-pacman:
    name: cache-pacman
    external: true
  cache-flathub:
    name: cache-flathub
    external: true
  cache-pacoloco:
    name: cache-pacoloco
    external: true
