services:
  cache-watchtower:
    image: nickfedor/watchtower:latest
    container_name: cache-watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: linux-cache
      WATCHTOWER_POLL_INTERVAL: 3600

  cache-dozzle:
    image: amir20/dozzle:latest
    container_name: cache-dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080/tcp"
    environment:
      DOZZLE_HOSTNAME: linux-cache
      # Uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      # - DOZZLE_ENABLE_ACTIONS=true
      #
      # Uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      # - DOZZLE_ENABLE_SHELL=true
      #
      # Uncomment to enable authentication. See https://dozzle.dev/guide/authentication
      # - DOZZLE_AUTH_PROVIDER=simple
    restart: always
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s

  cache-restarter:
    image: docker-registry.markridgwell.com/credfeto/cache-restarter:latest
    container_name: cache-restarter
    hostname: cache-restarter
    restart: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    network_mode: none
    environment:
      - RESTARTER_TAG=linuxpkg
    cap_drop:
      - ALL
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  cache-aur:
    image: ${AUR_IMAGE:-credfeto/aur-proxy:stable}
    container_name: cache-aur
    hostname: cache-aur
    restart: always
    stop_grace_period: 5s
    stop_signal: SIGINT
    volumes:
      - cache-aur-metadata:/data/metadata:rw
      - cache-aur-repos:/data/repos:rw
      - ./certs/aur.local.pfx:/usr/src/app/server.pfx:r
    ports:
      - "7776:8081/tcp"
      - "7776:8081/udp"
    labels:
      - "autoheal=linuxpkg"
    networks:
      backend:

  cache-proxy:
    image: docker-registry.markridgwell.com/credfeto/cache-proxy:latest
    container_name: cache-proxy
    hostname: cache-proxy
    restart: always
    stop_grace_period: 500s
    stop_signal: SIGINT
    volumes:
      - cache-proxy:/data
      - ./proxy-appsettings.json:/usr/src/app/appsettings-local.json
      - ./certs/proxy.local.pfx:/usr/src/app/server.pfx:r
    ports:
      - "7777:8081/tcp"
      - "7777:8081/udp"
    labels:
      - "autoheal=linuxpkg"
    networks:
#      backend:
      frontend:

  #  cache-pacman:
  #    build: ./pacman
  #    container_name: cache-pacman
  #    restart: always
  #    stop_grace_period: 5s
  #    stop_signal: SIGINT
  #    volumes:
  #      - ./certs:/etc/nginx/ssl:r
  #      - cache-pacman:/var/cache/nginx/proxy
  #      - ./certs/dh.pem:/etc/nginx/ssl/dh.pem:r
  #      - ./certs/pacman.local.key:/etc/nginx/ssl/pacman.local.key:r
  #      - ./certs/pacman.local.pem:/etc/nginx/ssl/pacman.local.pem:r
  #    ports:
  #      - "7777:7777/tcp"
  #      - "7777:7777/udp"
  #    labels:
  #      - "autoheal=linuxpkg"
  #    depends_on:
  #      cache-proxy:
  #        condition: service_healthy
  #    networks:
  #      backend:
  #      frontend:


#  cache-flathub:
#    build: ./flathub
#    container_name: cache-flathub
#    restart: always
#    stop_grace_period: 5s
#    stop_signal: SIGINT
#    volumes:
#      - ./certs:/etc/nginx/ssl:r
#      - cache-flathub:/var/cache/nginx/proxy
#      - ./certs/dh.pem:/etc/nginx/ssl/dh.pem:r
#      - ./certs/flathub.local.key:/etc/nginx/ssl/flathub.local.key:r
#      - ./certs/flathub.local.pem:/etc/nginx/ssl/flathub.local.pem:r
#    ports:
#      - "7777:7777/tcp"
#      - "7777:7777/udp"
#    labels:
#      - "autoheal=linuxpkg"
#    depends_on:
#      cache-proxy:
#        condition: service_healthy
#    networks:
#      backend:
#      frontend:

  cache-pacoloco:
    #   to pull the image from github's registry:
    image: ghcr.io/anatol/pacoloco:latest
    container_name: cache-pacoloco
    hostname: pacoloco
    restart: always
    stop_grace_period: 500s
    stop_signal: SIGINT
    environment:
      #   to set time-zone within the container for cron and log timestamps:
      - TZ=Europe/London
    volumes:
      - cache-pacoloco:/var/cache/pacoloco:rw
      - ./pacoloco.yaml:/etc/pacoloco.yaml:r
      - ./mirrorlists/arch:/etc/pacman.d/reflector_mirrorlist:r
      - ./mirrorlists/chaotic:/etc/pacman.d/chaotic_mirrorlist:r
    ports:
      - "7878:7878"
    labels:
      - "autoheal=linuxpkg"
    networks:
      frontend:
#   if a specific user id is provided, you have to make sure
#   the mounted directories have the same user id owner on host
#   user: 1000:1000
#   or replace it for self-building with:
#    build: https://github.com/anatol/pacoloco.git

networks:
  backend:
    driver: bridge

  frontend:
    driver: bridge

volumes:
  cache-aur-metadata:
    name: cache-aur-metadata
    external: true
  cache-aur-repos:
    name: cache-aur-repos
    external: true
  cache-proxy:
    name: cache-proxy
    external: true
  cache-flathub:
    name: cache-flathub
    external: true
  cache-pacoloco:
    name: cache-pacoloco
    external: true
